@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: transparent;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background-size: cover; /* Sesuaikan ukuran wallpaper */
  background-position: center; /* Posisikan wallpaper di tengah */
  background-image: url('image/image1.jpg'); /* Gunakan satu wallpaper saja */
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/* ================================ Header Styles ================================ */
header {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  color: #ffffff;
  margin-right: 1px;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

header a:hover {
  background-color: #3af1d6;
  color: #000;
}

/* ==================== Carousel Styles ==================== */
.carousel {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item::before,
.carousel .list .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 100%;
  max-width: 1140px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #efefef;
  text-shadow: 0 5px 10px #0004;
  z-index: 2;
}

.thumbnail .item .content .title {
  font-weight: 600;
  font-size: 2rem;
}

.thumbnail .item .content .description {
  font-weight: 400;
  font-size: 1.75rem;
}

/* ==================== Animation Styles ==================== */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ==================== Form Styles ==================== */
.form {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 80px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(11, 247, 208, 0.267);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}

.form label {
  font-weight: bold;
  font-size: 20px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  background-color: #3af1d6;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
}

.form input[type="submit"]:hover {
  background-color: #2ec4b6;
}

/* ==================== Left Content Styles ==================== */
.left-content .author,
.left-content .title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3em;
}

.left-content .title {
  color: #3af1d6;
}

.carousel .list .item:nth-child(1) .content .des {
  font-size: 1rem;
  margin-left: 5px;
}

/* ==================== Social Media Styles ==================== */
.social-media a i {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-media a i:hover {
  transform: scale(1.4);
  transition: transform 0.5s ease;
}

.left-content .des h2 {
  font-size: 1.2rem;
  margin-bottom: 2px;
  filter: drop-shadow(0 0 4px #0000004f);
}

.left-content .des p {
  font-size: 1rem;
  margin-bottom: 2px;
  color: #3af1d6;
  filter: drop-shadow(0 0 4px #0000004f);
}

/* ==================== Footer Styles ==================== */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  text-align: left;
  padding: 0px 0;
  z-index: 100;
}

/* ==================== Dropdown CV Styles ==================== */
.dropdownCV {
  position: relative;
  display: inline-block;
}

.dropdownCV .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 17px;
}

.dropdownCV .dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdownCV .dropdown-content a:hover {
  background-color: #3af1d6;
  color: #000;
}

.dropdownCV:hover .dropdown-content {
  display: block;
}

.dropdownCV:hover .dropbtn {
  background-color: #3e8e41;
}

/* ==================== Responsive Adjustments for Mobile ==================== */
@media screen and (max-width: 678px) {
  /* ========== Pembatas untuk header ========== */
  header {
    justify-content: flex-start; /* Gunakan flex-start untuk lebih konsisten */
  }
  /* ========== Pembatas untuk footer ========== */
  footer {
    text-align: left; /* Ubah posisi teks footer ke kiri */
    font-size: 0.5rem; /* Perkecil ukuran font footer */
  }
  
  /* ==================== Carousel Styles ==================== */
  .carousel {
    height: 80vh; /* Perkecil tinggi carousel */
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .carousel .list .item {
    width: 100%;
    height: 80%; /* Perkecil tinggi item */
    position: absolute;
    inset: 0;
  }

  .carousel .list .item img {
    width: 100%;
    height: 80%; /* Perkecil tinggi gambar */
    object-fit: cover;
  }

  .carousel .list .item::before,
  .carousel .list .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%; /* Perkecil tinggi overlay */
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .carousel .list .item .content {
    position: absolute;
    top: 10%; /* Sesuaikan posisi konten */
    width: 100%;
    max-width: 1140px;
    left: 0; /* Ubah posisi konten ke kiri */
    transform: translateX(0); /* Hapus transformasi */
    box-sizing: border-box;
    color: #efefef;
    text-shadow: 0 5px 10px #0004;
    z-index: 2;
    font-size: 0.8rem; /* Perkecil ukuran font konten */
  }

  .thumbnail .item .content .title {
    font-weight: 600;
    font-size: 1.5rem; /* Perkecil ukuran font title */
  }

  .thumbnail .item .content .description {
    font-weight: 400;
    font-size: 1.25rem; /* Perkecil ukuran font description */
  }

  /* ==================== Form Styles ==================== */
  .form {
    position: absolute;
    background-color: #fff;
    padding: 5px; /* Perkecil padding form */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(11, 247, 208, 0.267);
    max-width: 300px; /* Perkecil lebar form */
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000;
    font-size: 0.8rem; /* Perkecil ukuran font form */
    left: 0; /* Ubah posisi form ke kiri */
  }

  .form label {
    font-weight: bold;
    font-size: 8px; /* Perkecil ukuran font label */
  }

  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    width: 100%;
    padding: 5px; /* Perkecil padding input */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form input[type="submit"] {
    background-color: #3af1d6;
    color: #fff;
    border: none;
    padding: 5px; /* Perkecil padding submit */
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.5rem; /* Perkecil ukuran font submit */
    font-weight: bold;
    transition: background-color 0.3s; /* Tambahkan transisi untuk efek hover */
  }

  .form input[type="submit"]:hover {
    background-color: #2ec4b6;
  }
}